.mform{
	border-style: solid;
	border-width: 5px;
	border-color: rgb(255, 192, 0);
	border-radius: 10px;
	background: #fff;
	width: 100%;
	margin-top: -5px;
    padding: 26px 14px 15px 14px;

	&.mform-book{
		
		.mform-title{
			font-size: 21px;
		}
	}
	&-field{
		margin-bottom: 14px;
	}
	&-title{
		color:#425463;
		font-family: 'Arial Black';
		font-size: 23px;
		text-transform: uppercase;	
		text-align: center;
		margin-bottom: 13px;	
	}
	&-subtitle{
		color:#425463;
		font-weight: bold;
		font-size: 15px;
		text-align: center;
		line-height: 18px;
		padding: 0 5px;
		margin-bottom: 27px;	
	}
	&-confidential{
		border-top: 1px solid #ffd794;
		padding-top: 16px;
		color: #3d3d3d;
		min-height: 58px;
		
		.icon{
			float: left;
		}
		span{
			font-size: 12px;
		    display: block;
		    margin-left: 47px;
		    line-height: 18px;
		}
	}
}

.zForm{

	.zNice-checkbox,.zNice-radio{
		margin-right:9px;
		& + .zForm-text{
			color:$baseColor;
			@extend %inline-middle;
		}
	}
	&-title{
		font-size: $titleSize;
		margin-bottom: 10px;
	}
	&-subtitle{
		margin-bottom: 1em;
	}
	&-row{
		margin-bottom:9px;
		&:after{
			@extend %cfix;
		}
		
		&.leftFormat{
			.zForm-col{
				&:nth-child(1){
					width:74%;
					margin-right:2%
				}
				&:nth-child(2){
					width:24%;
				}
			}
		}
		&.rightFormat{
			.zForm-col{
				&:nth-child(1){
					width:24%;
					margin-right:2%
				}
				&:nth-child(2){
					width:74%;
				}
			}
		}
	}
	&-col{
		width:49%;
		margin-right:2%;
		float:left;
		&:last-child{
			margin-right:0;
		}
	}
	&-center{
		text-align:center;
	}
	&-link {
		@extend %inline-middle;
	}
	&-text{
		@extend %inline-middle;
		color:$ctextColor;
		text-decoration:none;
	}
	.zForm-inline {
		@extend %inline-middle;
		margin-right: 8px;
	}
	&-label {
		display: block;
		margin-bottom: 10px;
	}
	label{
		display: block;
	}
	&-text, &-label {
		color: #242424;
		text-decoration: none;
		font-size: 14px;
	}
}