@mixin icons($background, $width, $height) {
	background: url('../images/#{$background}.png') no-repeat left top;
	width: $width; 
	height: $height;
}

@mixin arrow($color, $direction:left, $width:7px, $weight: 3px, $angle: 45deg ) { // ie 10+
	width:$width;
	height:$width;
	line-height:$width;
	border-top:$weight solid $color;
	border-right:$weight solid $color;

	@if $direction == 'right' {
		$angle : 45deg;
	} 
	@else if $direction == 'left' {
			$angle : -135deg;
		}	
			@else if $direction == 'up' {
				$angle : -45deg;
			}
				@else if $direction == 'down' {
					$angle : 135deg;
				}

	-ms-transform:rotate($angle);
	-moz-transform:rotate($angle);
	-webkit-transform:rotate($angle);
	-o-transform:rotate($angle);
	transform:rotate($angle);
}

.icon {
	@extend %inline-middle;
	
	&-contacts{
		background-image: url(../images/icon-contacts.png);
		width: 24px; 
		height: 24px;
		&-email{
			background-position: left bottom;
		}
		&-phone{
			background-position: left top;
			width: 27px;
		}
	}
	&-shield{
		width: 34px;
		height: 42px;
		background:url(../images/icon-shield.png);
	}
	&-zoom{
		width: 26px;
		height: 26px;
		background:url(../images/icon-zoom.png);
	}

}


