
body *{
	-moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.container {
	padding:0 10px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	@extend %clear; 
}

.zForm-row:after, .zTabs-buttons:after {
	@extend %cfix; 
} 

.main {
	.sidebar_w {
		width: 180px;
		float: left;
	}
	.sidebar {
		margin: 0;
	}
	.content_w {
		float: left;
		width: 780px;
	}
	.content {
		margin: 0;
	}
}

.footer {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	z-index:2;
	overflow:hidden;
	&_placeholder{
		height: 200px;
	}
}

%row{
	margin-left: -10px;
	margin-right: -10px;
	@extend %clear; 
}
%col{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	@extend %clear; 	
}
%col3Item{
	@extend %col;
	width: 33.333%;
} 
%col2Item{
	@extend %col;
	width: 50%;
} 
%col4Item{
	@extend %col;
	width: 25%; 
}
%col5Item{
	@extend %col;
	width: 20%; 
}

