@media (min-width: 980px) {
	.container {
		width: 960px;
	}
}
@media (min-width:768px) and (max-width: 980px) {
	.header-menu ul{
		li{
			a{
			    font-size: 11px;
			}
		}
	}
	.firstScreen-left{
		width: 60%;
	}
	.firstScreen-right{
		width: 38%;
	}
	.windowScreen{ 
		.quote{
			display: none;
		}
		&-left{
			width: 60%;
		}
		&-right{
			width: 38%;
		}
	}
	.countdown-area{
		position: static;
		width: auto;
		max-width: 540px;
		margin: 0 auto;
		float: none;
	}
	.gate{
		&-info,
		&-image{
			width: 50%;
		}
	}
} 

@media (min-width:768px){ 
	.navbar-toggle {
		display: none;
	}
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
}

@media (max-width:768px){ 
	%col3Item{ 
		width:100%;
		float:none;
	}
	%col5Item{
		width:33.33%;
	} 
	.mainheading{
		font-size: px(21);
	}
	.header-menu ul{
		display: block;
		height: auto;
		line-height: auto;
		li{
			display: block;
			text-align: center;
			&:first-child,
			&:last-child{
				text-align: center;
			}
		}
	}
	.firstScreen,
	.windowScreen{ 
		&-title{
		    width: 100%;
   			max-width: initial;
		}
		.quote{
			display: none;
		}
		&-left{
			width: 100%;
		}
		&-right{
			width: 100%;
			margin-bottom: 24px;
		}
	}
	.windowScreen{
		&-image{
			text-align: center;
			margin-bottom: 15px;
		}
	}
	.countdown-area{
		position: static;
		width: auto;
		max-width: 540px;
		margin: 0 auto;
		float: none;
	}
	.catalog-list{
		padding: 0 20px;
		.slick-prev{
			left: 10px;
		}
		.slick-next{
			right: 10px;
		}
	}
	.portfolio-gallery{
	    margin-bottom:25px;
	}
	.portfolio-gallery,
	.portfolio-info{
		width: 100%;
		float: none;
	}
	.portfolio-description-title{
	    padding-left: calc(10% + 5px);
    	padding-right: calc(10% + 5px);
    	&:before{
    		left: 90%;
    	}
    	&:after{

    	}
	}
	.gate{
		&-info,
		&-image{
			width: 100%;
			float: none;
		}
		&-image{
		    padding-top: 20px;
			padding-bottom: 20px;
		}
		.button{
			width: auto;
		}
	}
}
 
@media (max-width:480px){
	%col5Item{
		width:100%;
	}
	.firstScreen{
		&-quote{
			width: 100%;
		}
	}	
	.countdown{
		&-title{
			width: 100%;
			line-height: 47px;
		}
		&-section{
			background: url(../images/countdown-bg-min.png);
			width: 64px;
			height: 64px;
			padding-right: 3px;
		}
		&-amount{
			font-size: 24px;
		}
	}
	.gate{
		&-info-title{
			font-size: 24px;
		}
	}
} 