
$baseColor : #425463; // base site text color, links
$baseColor_hover : #001cb0; //link hover
$ctextColor : #425463; 
$titleSize : 1.2em;
$body_background : #fff;
$body_font_size : 16px;
$body-minWidth : 960px;
