
$baseColor : #2b2b2b; // base site text color, links
$baseColor_hover : #001cb0; //link hover
$ctextColor : #242424; 
$titleSize : 1.2em;
$body_background : #fff;
$body_font_size : 16px;
$body-minWidth : 960px;
