.firstScreen{
	position: relative;
	min-height: 429px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&-left{
		float: left;
		width: 65%;
		padding-top: 23px;
	}
	&-right{
		width: 34%;
		float: right;
		padding-top: 23px;
	}
	&-title{
  		background-color: rgba(255, 255, 255, 0.8);
  		max-width: 580px;
	    padding: 15px 20px 16px 20px;
	    margin-bottom: 16px;
		h2{
			font-size: 36px;
			font-family: 'Arial Black';
			text-transform: uppercase;
			color:#425463;
			line-height: 37px;
   			margin-bottom: 6px;
		}
		h3{
			font-size: 25px;
			color:#425463;
			margin-bottom: 0;
		}
	}
}
.quote{
	width: 401px;
	height: 277px;
	background: url(../images/firstscreen-quote.png);
	float: right;
    padding: 68px 80px 10px 108px;
	text-align: center;
	h3{
		font-size: 40px;
		color:#425463;
		font-family: 'Arial Black';
		text-transform: uppercase;
		margin-bottom: 13px;
	}
	h4{
		font-size: 16px;
		font-weight: bold;
		color:#425463;
		margin-bottom: 1px;
	}
	p{
		font-size: 13px;
		font-weight: bold;
		color:#425463;
		margin-bottom: 17px;
	}
	h5{
		color: #b80808;
		font-size: 14px;
		font-weight: bold;
	    padding-left: 45px;
		em{
			font-family: 'Arial Black';
			font-size: 40px;
			margin-right: 6px;
		}
	}
	&-right{
		width: 296px;
		height: 207px;
		background: url(../images/firstscreen-quote2.png);		
	}
} 